header#navigation
	background-color: #000
	border-bottom: 1px solid rgba(255,255,255,.3)
	a.logo
		#secret-lives
			display: inline-block
			position: relative
			top: 7px
			width: 70px
			svg
				height: 77px
				width: 62px
		#chm
			display: inline-block
			position: relative
			left: 10px
			top: -18px
			width: 179px
	.nav
		li a
			font-size: 14px
			text-transform: uppercase
			padding-right: .25em
		li a:hover,
		li.active a
			color: $yellow