/* ==========================================================================
 * Home
 * ========================================================================== */

.join
	section.intro
		height: 768px
		.image-bg
			background: url(img/membership.jpg) 0 0 no-repeat

#compare
	position: relative
	z-index: 1
	h2
		background-color: $yellow
		color: #000
		font-size: em(36)
		text-align: center
		padding: .5em
	.h2-bg
		text-align: center
		left: -50%
		position: relative
		top: 0
		width: 200%