/* ==========================================================================
 * Home
 * ========================================================================== */

.join-button
	@include transition(background .5s)
	background-color: $yellow
	color: #000 !important
	display: inline-block
	font-family: $oswald
	font-size: em(18)
	padding: .5em .8em
	text-transform: uppercase
	line-height: 1
	&:hover
		@include transition(background .5s)
		background: #ffe96f
		color: #000 !important
	&:focus, &:select, &:visited, &:target, &:active
		color: #000 !important

body.join
	section.intro
		position: relative
		z-index: 1

	#master-container
		position: relative
		z-index: 10

		#membership-matters
			margin-top: 2em
			.tilted-background
				@include transform(rotate(3deg))
				min-height: 300px
				top: 2em
				z-index: -10
			h2
				font-size: em(33.5)
				text-align: center
				line-height: 1.2
			h3
				font-size: .85em
				font-family: $ubuntu
				text-transform: uppercase
				text-align: center
				margin-top: .3em
				line-height: 1.2
			li
				list-style: disc outside none
				margin: .25em 0 .25em 1.2em
				line-height: 1.2
			.full-sub-col
				text-align: center
				top: 2em
				position: relative
				a
					color: $yellow
					font-size: 14px
					font-family: $ubuntu
					font-style: italic
					&:hover
						@include transition(color .5s)
						color: #ffe96f
			@include media(max-width 53.3em)
				margin-top: 0
				.tilted-background
					top: 3em
				strong
					display: block
					margin-top: 2em

		#join-by-date
			position: relative
			.left-col
				svg
					max-width: 100%
					margin-top: -1em
			.right-col
				h2
					font-size: em(33.5)
					line-height: 1.2
				h3
					font-size: .85em
					font-family: $ubuntu
					text-transform: uppercase
					margin-top: .3em
					margin-bottom: 1em
					line-height: 1.2
				p
					margin-bottom: 1em
				// a
				// 	@include transition(color .5s)
				// 	color: $yellow
				// 	font-size: 14px
				// 	font-family: $ubuntu
				// 	font-style: italic
				// 	&:hover
				// 		@include transition(color .5s)
				// 		color: #ffe96f
			@include media(max-width 53.3em)
				.left-col
					text-align: center
					svg
						margin: 0 auto 2em

	#compare
		background: #222
		position: relative
		z-index: 10
		h2
			background-color: $yellow
			color: #000
			font-size: em(36)
			text-align: center
			padding: .5em
			line-height: 1.2
			position: relative
			z-index: 10
			span
				display: block
				font-size: em(7)
				font-family: $ubuntu
				text-transform: uppercase
			.container
				padding-top: 0
				padding-bottom: 0
			@include media(max-width 53.75em)
				font-size: em(22)

	#member-impact
		.full
			text-align: center
			h2
				font-size: em(28)
				margin-top: -1em
			p
				margin-top: 1.25em
				margin-bottom: 1.75em
			a.yellow-button
				left: -20px
				position: relative


@include media(max-width 42em)
	body.join #masterslider
		.riddle
			font-size: .7em
			text-transform: uppercase
		.join-button
			display: inline-block
			font-size: em(15)
			position: relative
			top: 10px
		.ms-slide
			.ms-slide-bgcont
				top: -50px
			.ms-caption
				bottom: 90px !important
			.ms-reveal
				bottom: 50px !important


@include media(min-width 42em max-width 53.3em)
	body.join #masterslider
		.riddle
			font-size: .8em
			text-transform: uppercase
		.join-button
			display: inline-block
			font-size: em(18)
			position: relative
			top: 10px
		.ms-slide
			.ms-slide-bgcont
				top: -50px
			.ms-caption
				bottom: 80px !important
			.ms-reveal
				bottom: 15px !important

@include media(min-width 53.3em)
	body.join #masterslider
		.riddle
			font-size: .8em
			text-transform: uppercase
		.join-button
			display: inline-block
			font-size: em(21)
			position: relative
			top: 10px
		.ms-slide
			.ms-slide-bgcont
				top: -100px
			.ms-caption
				bottom: 250px !important
			.ms-reveal
				bottom: 160px !important


body.join #compare  // pulled out separate from both this file and layout.sass due to complexity
	@include pad(0)
	.table
		display: table
		width: 100%
		.table-body
			display: table-row-group
		.table-header-row
			color: $yellow
			font-family: $oswald
			line-height: 1
			text-transform: uppercase
			margin: 0
			span
				display: block
				font-style: italic
				font-family: $ubuntu
				line-height: 1
				padding: 0
				text-transform: none
				margin: .3em 0 0
			.th
				padding-bottom: 1em !important
				padding-top: 1em !important
		.tr
			display: table-row
			width: 100%
			&:nth-child(even)
				background-color: #171717
			.td, .th
				display: table-cell
				padding: .5em
				text-align: center
				vertical-align: middle
				b
					font-weight: 700
					font-size: 1.7em
					line-height: .5em
					position: relative
					top: .2em

			.desc
				text-align: left
			.core-2
				background-color: rgba(0,0,0,.3)
			.core-4
				background-color: rgba(255,255,255,.03)
			.prem-2
				background-color: rgba(0,0,0,.3)
			.prem-4
				background-color: rgba(255,255,255,.03)
		.tr.pricing
			span.strike
				color: #eee
				display: inline-block
				font-family: $oswald
				margin: 0 0 .25em
				position: relative
				i
					@include transform(rotate(-22.5deg))
					border-bottom: 2px solid #eee
					content: ' '
					display: block
					height: 1px
					left: -5%
					position: absolute
					top: 50%
					width: 110%
			span.cost
				color: $yellow
				display: block
				font-family: $oswald
				margin: 0 0 .25em
			.join-button
				display: block
				padding: .5em

		@include media(min-width 53.75em)
			.table-header-row
				font-size: em(28)
				span
					font-size: .45em
			.tr
				.core-2, .core-4, .prem-2,.prem-4
					vertical-align: middle
		.tr.pricing
			.core-2, .core-4
				.join-button
					font-size: em(18)
			.prem-2, .prem-4
				.join-button
					font-size: em(21)
			span.strike
				font-size: em(22)
				position: relative
				top: .2em
			span.cost
				font-size: em(44)

		@include media(max-width 53.75em)
			.table-header-row
				font-size: em(14)
				span
					font-size: .2em
			.tr
				.td
					font-size: em(12)
				.td-pad
					display: none
			.tr.pricing
				span.cost
					font-size: em(30)

		@include media(min-width 53.75em)
			.tr
				.core-2, .core-4, .prem-2,.prem-4
					width: 5em
		@include media(min-width 57.75em)
			.tr
				.core-2, .core-4, .prem-2,.prem-4
					width: 6em