/* ==========================================================================
 * Home
 * ========================================================================== */

body
	background: #000
	color: #eee

h1, h2, h3, h4, h5, h6
	font-family: $oswald
	color: $yellow
	font-weight: 700
	text-transform: uppercase

p, li, ol, input, label, dl, dt, dd, td
	font-family: $ubuntu
	font-weight: 400

strong
	font-weight: 700

em
	font-style: italic

a.yellow-button,
a.black-button
	display: inline-block
	font-family: $ubuntu
	padding: .55em 1em .55em
	position: relative
	&::after
		content: '\203a'
		display: block
		height: 100%
		font-weight: 400
		font-size: 2em
		font-family: 'helvetica neue', arial, sans-serif
		line-height: .8
		padding: 6px 12px
		position: absolute
		text-align: center
		top: 0
		right: -40px
		width: 40px

a.yellow-button
	@include transition(background .5s)
	background: $yellow
	color: #000
	&::after
		@include transition(background .5s)
		background: #cab023
	&:hover
		@include transition(background .5s)
		background: #ffe96f
		color: #000
		&::after
			@include transition(background .5s)
			background: $yellow
	background: $yellow

a.black-button
	@include transition(background .5s)
	background: #222
	color: #eee
	&::after
		@include transition(background .5s)
		background: #000
	&:hover
		@include transition(background .5s)
		background: #444
		color: #fff
		&::after
			@include transition(background .5s)
			background: #333

.tilted-background
	@include transform(rotate(-3deg))
	background: #222
	position: absolute
	left: -50%
	height: 100%
	min-height: 400px
	top: 0
	width: 200%
	z-index: -10

.straight-background
	background: #222
	height: 100%
	position: absolute
	left: -50%
	top: 0
	width: 200%
	z-index: -10



/* ==========================================================================
 * Intro
 * ========================================================================== */

#masterslider
	.ms-slide
		text-align: center
		.ms-slide-bgcont
			position: relative
		.ms-caption
			margin: 0 auto !important
			width: 100%
			span
				display: block
		.ms-reveal
			margin: 0 auto !important
			width: 100%
		span.item
			color: #999
			font-family: $ubuntu
			line-height: 1.2
			margin-bottom: 1em
			text-transform: uppercase
		span.riddle
			color: #fff
			line-height: 1.2
			font-family: $ubuntu
		span.answer
			color: $yellow
			font-family: $oswald
			line-height: 1
			text-transform: uppercase

@include media(max-width 42em)
	#masterslider
		padding: 5.5em 0 5em
		.ms-slide
			.ms-slide-bgcont
				top: -40px
			.ms-caption
				bottom: 47px !important
			.ms-reveal
				height: 32px
				bottom: 0px !important
				line-height: 1.1
			span.item
				font-size: .6em
			span.riddle
				font-size: .8em
			span.answer
				font-size: .9em

@include media(min-width 42em max-width 53.3)
	#masterslider
		.ms-slide
			.ms-slide-bgcont
				top: -50px
			.ms-caption
				bottom: 80px !important
			.ms-reveal
				bottom: 35px !important
			span.item
				font-size: .9em
			span.riddle
				font-size: 1.2em
			span.answer
				font-size: 1.2em

@include media(min-width 53.3em)
	#masterslider
		.ms-slide
			.ms-slide-bgcont
				top: -100px
			.ms-caption
				bottom: 220px !important
			.ms-reveal
				bottom: 180px !important
			span.item
				font-size: .9em
			span.riddle
				font-size: 1.2em
			span.answer
				font-size: 1.2em


/* ==========================================================================
 * About
 * ========================================================================== */

#about
	h2
		margin: 0 0 .5em
		max-width: 380px
	.signature
		display: block
		width: 100%
		max-width: 378px
	svg
		height: auto
		width: 100%
	@include media(max-width 36em)
		.right-col svg
			position: relative
			top: -3em


/* ==========================================================================
 * Info (First yellow block)
 * ========================================================================== */

#info
	position: relative
	margin-top: -30px
	z-index: 1
	.tilted-background
		@include transform(rotate(-3deg))
		background: $yellow
		height: 100%
		min-height: 350px
		top: 5%
		z-index: -10
	.container
		padding-top: 0px
		padding-bottom: 50px
		h3
			color: #000
			margin-top: 1.2em
			margin-bottom: .8em
		p
			color: #000
			line-height: 1.8
			strong
				display: inline-block
				line-height: 1.4
		a.black-button
			margin: 1em 0
	@include media(min-width 53.75em max-width 64em)
		.col
			height: 330px
			position: relative
		a.black-button
			bottom: 0
			position: absolute
	@include media(min-width 64em)
		.col
			height: 290px
			position: relative
		a.black-button
			bottom: 0
			position: absolute


/* ==========================================================================
 * Member events
 * ========================================================================== */

#member-events
	h2
		font-size: em(38)
		text-align: center
		margin: .25em auto 1.5em
	h3
		color: #fff
		font-size: em(24)
		margin-bottom: 1em
	.left-col, .right-col
		margin-bottom: 2.5em
	.full
		text-align: right
	a.yellow-button
		margin: 1em 0
	a.membership-button
		@include transition(color .5s)
		color: #fff
		display: inline-block
		font-family: $oswald
		font-size: em(28)
		font-weight: 700
		line-height: 1.2
		margin: 1.5em 0 1em
		text-align: right
		text-transform: uppercase
		padding: 5px 1em
		position: relative
		span
			display: block
			color: $yellow
		&::after
			@include transition(color .5s, right .5s)
			color: $yellow
			content: '\00bb'
			font-size: em(38)
			font-family: $ubuntu
			font-weight: 300
			position: absolute
			right: -.25em
			top: -.11em
		&:hover
			color: $yellow
			&::after
				@include transition(color .5s, right .5s)
				color: $yellow
				right: -.35em

	@include media(max-width 33.75em)
		h2
			margin: 1em auto 1.5em
		.full
			@include pad(1em 0 0em)
			text-align: center
			a.membership-button
				font-size: em(22)
				padding: 5px 1em
				margin: 0 auto
				&::after
					font-size: em(38)
					right: -.25em
					top: -.09em
/* ==========================================================================
 * Social
 * ========================================================================== */

#social
	position: relative
	margin-top: 1em
	z-index: 1
	.tilted-background
		@include transform(rotate(3deg))
		min-height: 550px
		top: -.5em
		z-index: -10
	.container
		padding-top: 100px
		padding-bottom: 130px
		h2
			color: #fff
			font-size: 38px
			text-align: right
			margin-top: .7em
		h3
			color: $yellow
			font-family: $ubuntu
			font-size: .85em
			text-transform: uppercase
			text-align: right
		a.social
			@include transition(background .5s, fill .5s)
			border: 3px solid $yellow
			display: inline-block
			height: 116px
			margin-right: .5em
			padding: 6px
			width: 116px
			svg
				@include transition(background .5s, fill .5s)
				height: 100px
				width: 100px
			&:hover
				@include transition(background .5s, fill .5s)
				background: $yellow
				svg path
					@include transition(background .5s, fill .5s)
					fill: #222

	@include media(max-width 53.75em)
		.tilted-background
			margin-top: 2.5em
		.left-col, .right-col
			text-align: center
			h2
				text-align: center
				margin-bottom: .25em
			h3
				text-align: center
				margin-bottom: 2em
	@include media(max-width 33.75em)
		.container a.social
			height: 80px
			padding: 8px
			width: 80px
			svg
				height: 60px
				width: 60px

/* ==========================================================================
 * Special thanks
 * ========================================================================== */

#special-thanks
	padding-top: 5em
	padding-bottom: 5em
	h2
		visibility: hidden
		text-align: center
	.left-col
		text-align: center
	.right-col
		text-align: center
	.img-wrap
		height: 180px
		text-align: center
		margin: 0 auto
		width: 125px
	#cpd-svg
		height: 100px
		position: relative
		top: 22px
		width: 100px
		@include media(max-width 30em)
			top: 44px
	a
		color: $yellow
		border-bottom: 1px dotted $yellow
		&:hover
			border-bottom: 1px solid $yellow


/* ==========================================================================
 * Press
 * ========================================================================== */

#press
	.container
		padding-bottom: 4em
	.tilted-background
		min-height: 800px
	text-align: center
	h2
		font-size: em(38)
		text-align: center
		position: relative
		margin-top: 1em
		margin-bottom: .4em
	p
		text-align: center
		margin: 0 0 2.5em
	a.button
		margin: 1em auto
	@include media(max-width 33.75em)
		.container
			padding-bottom: 7em